includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    parallel:
        jobSize: 8
        maximumNumberOfProcesses: 64
        minimumNumberOfJobsPerProcess: 16

    level: 9
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src/Uklon

    ignoreErrors:
        - '#Method .*\\UklonConnector::.* should return .*\\Responses\\.* but returns mixed.#'
        - '#Method .*\\UklonConnector::.* should return array but returns mixed.#'
#        - '#Method .* should return Illuminate\\Database\\Eloquent\\Collection.* but returns Illuminate\\Database\\Eloquent\\Collection.#'

